.heading
{
    width: 100%;
    text-align: left;
    background-color: rgb(236, 226, 131);
    color: black;
}
.heading h3
{
    display: inline;
}

.heading button
{
    float: right;
    border: 1px solid black;
    background-color: rgb(236, 226, 131);
    color: black;
}
.big_image
{
    width: 100%;
}
#start
{
    font-size: 22px;
}
#status
{
    font-size: 22px;
    background-color: peru;
    color: black;
}
.modal-dialog
{
    width: 90%;
}
.instruction_image
{
    display: inline-block;
    width: 45%;
}
video
{
    background: url('game_console.png');
    background-size: cover;
    background-position:center ;
    padding: 25px;
}